.Rubric {
	border: 2px solid #ff6e6e;
	display: inline-block;
	color: #ff6e6e;
	font-weight: bold;
	padding: 5px 25px;
	border-radius: 20px;
	cursor: pointer;
	transition: 130ms ease-in;
}
.Rubric:hover {
	background-color: #ff6e6e;
	color: #fff;
}
.active {
	background-color: #ff6e6e;
	color: #fff;
}

@media (min-width: 320px) and (max-width: 768px) {
	.Rubric {
		-webkit-tap-highlight-color: transparent;
	}
}