.Input {
	position: relative;
}
.Input .inputField, .Input .inputLabel {
	font-style: italic;
	font-size: 14px;
}
.Input .inputField {
	width: 100%;
	padding: 15px 0 5px;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #ff6e6e;
	outline: none;
	letter-spacing: 1px;
}
.Input .inputLabel {
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 0;
	line-height: 50px;
	transition: .2s;
}

.inputField:focus-within ~ .inputLabel,
.inputField:not(:placeholder-shown):valid + .inputLabel {
	top: -18px;
	font-size: 10px;
	font-weight: bold;
	color: #ff6e6e;
	font-style: normal;
}

.Input .inputTrue {
	border-bottom: 2px solid darkseagreen;
}